<div class="overview-comp">
  <h1 class="comp-title">Oui, vous pouvez faire une immersion !</h1>
  <p class="comp-subtitle">
    Mais avant, vérifiez que votre centre de formation est d’accord
  </p>

  <h2>Les démarches</h2>
  <hr class="separator" />

  <!-- DEMARCHE INTERLOCUTEUR -->
  <div class="demarche">
    <div class="column" aria-hidden="true">
      <div class="circle small">
        <span class="icon"
          ><i class="material-icons">
            call
          </i></span
        >
      </div>
      <div class="v-separator"></div>
    </div>

    <div class="contenu">
      <h3>
        Contactez le responsable de votre formation
      </h3>

      <div class="detail">
        <span class="bold">Pourquoi ?</span>
        <p>
          La plupart des formations prévoit une période de stage en entreprise.
          Si ce n’est pas le cas, vous devez demander s’il est possible d’en
          faire un. C’est le responsable de votre formation qui vous donnera une
          convention de stage à faire signer par l’entreprise
        </p>
      </div>
    </div>
  </div>

  <!-- DEMARCHE RECHERCHE -->
  <div class="demarche">
    <div class="column" aria-hidden="true">
      <div class="circle small">
        <span class="icon"
          ><i class="material-icons">
            search
          </i></span
        >
      </div>
      <div class="v-separator"></div>
    </div>

    <div class="contenu">
      <h3>
        Comment chercher un stage ?
      </h3>

      <div class="detail">
        <span class="bold">Comment chercher une immersion ?</span>
        <p>
          ANDi référence les entreprises proches de chez vous qui proposent le
          métier auquel vous vous formez. Trouvez-les grâce à notre moteur de
          recherche
        </p>
      </div>
    </div>
  </div>
</div>
