<div class="firm-faq-comp container">

  <div class="question">
    <h1>Pourquoi être ANDi accueillant ?</h1>
    <div class="answer">
      <p><span class="bold">Votre établissement devient visible sur ANDi</span> lorsqu’une personne cherche une
        structure d’accueil pour une
        immersion, en cohérence avec son projet professionnel. La personne ou son accompagnant pourront vous contacter
        directement.</p>
      <p><span class="bold">Être ANDi accueillant vous permet de vous engager dans une dynamique d’inclusion</span>, par
        une action simple et
        concrète.</p>
      <p class="nota-bene"><img aria-hidden="true" src="assets/icons/firm/info.svg" alt=""/> Vous avez la possibilité de
        vous déréférencer
        dès que vous le souhaitez en nous l’indiquant par <a class="link"
                                                             aria-label="Je souhaite me déréférencer auprès d'ANDi"
                                                             href="mailto:andi@beta.gouv.fr" title="Contacter ANDi"
        >mail</a>.</p>


      <a href="https://andi.beta.gouv.fr/links/formulaire_referencement" class="cta-btn">Devenez ANDi-accueillant</a>
    </div>
  </div>

  <div class="question">
    <h1>Qu’est-ce que la PMSMP ?</h1>
    <div class="answer">
      <p><span class="bold">C’est une période courte et non rémunérée.</span> Cela permet de découvrir un métier et de
        vérifier des
        compétences et aptitudes auprès d’un professionnel en activité. Le bénéficiaire conserve son statut initial et
        est couvert par un prescripteur (Pôle emploi, Cap Emploi, Mission Locale, etc.), via un <a
          class="link" aria-label="Télécharger le cerfa pour l'immersion professionnelle - (Nouvel onglet) - (Fichier PDF)" (click)="openCerfa()"
          href="javascript:void(0)" title="Contacter ANDi"
        >formulaire Cerfa</a>.</p>
    </div>
  </div>

</div>

<div class="white-block"></div>
