<div class="overview-comp">
  <h1 class="comp-title">
    Si vous êtes contractuel : Oui, vous pouvez faire une immersion !
  </h1>
  <p class="comp-subtitle">
    Pour cela, vous avez quelques démarches à faire
  </p>

  <h2>Les démarches</h2>
  <hr class="separator" />

  <!-- DEMARCHE INTERLOCUTEUR -->
  <div class="demarche">
    <div class="column" aria-hidden="true">
      <div class="circle small">
        <span class="icon"
          ><i class="material-icons">
            call
          </i></span
        >
      </div>
      <div class="v-separator"></div>
    </div>

    <div class="contenu">
      <h3>
        Contacter le conseiller mobilité, référent handicap ou service ressource
        humaine de votre employeur
      </h3>

      <div class="detail">
        <span class="bold"
          >De quoi allez-vous parler avec votre conseiller ?</span
        >
        <p>
          Il vous accompagne dans votre projet d’évolution professionnelle et
          vous aide dans vos démarches administratives. Son rôle est de vous
          conseiller et de vous informer
        </p>
        <p>
          A noter : si vous voulez faire une immersion pendant votre temps de
          travail, vous devez avoir l’accord de votre employeur. En cas de refus
          ou si vous souhaitez être discret, vous pouvez faire une immersion
          durant vos congés
        </p>
      </div>

      <andi-sick-info *ngIf="isSick"></andi-sick-info>
    </div>
  </div>

  <!-- DEMARCHE RECHERCHE -->
  <div class="demarche">
    <div class="column" aria-hidden="true">
      <div class="circle small">
        <span class="icon"
          ><i class="material-icons">
            search
          </i></span
        >
      </div>
      <div class="v-separator"></div>
    </div>

    <div class="contenu">
      <h3>
        Chercher une structure d’accueil qui correspond à votre projet
        professionnel
      </h3>

      <div class="detail">
        <span class="bold">Comment chercher une immersion ?</span>
        <p>
          ANDi référence les entreprises proches de chez vous qui correspondent
          à votre projet professionnel. Trouvez-les grâce à notre moteur de
          recherche et nos conseils !
        </p>
        <p>À noter : votre conseiller peut vous donner des conseils</p>
      </div>
    </div>
  </div>

  <!-- ********************************************************************************************* -->

  <h1 class="comp-title">
    Si vous êtes fonctionnaire : Le dispositif de la PMSMP n’est pas adapté à
    votre situation
  </h1>
  <p class="comp-subtitle">
    Il existe d’autres dispositifs d’immersion professionnelle
  </p>

  <h2>Les démarches</h2>
  <hr class="separator" />

  <!-- DEMARCHE INTERLOCUTEUR -->
  <div class="demarche">
    <div class="column" aria-hidden="true">
      <div class="circle small">
        <span class="icon"
          ><i class="material-icons">
            call
          </i></span
        >
      </div>
      <div class="v-separator"></div>
    </div>

    <div class="contenu">
      <p>
        Il existe d’autres dispositifs d’immersion professionnelle pour vous
        permettre d’anticiper un reclassement ou de tester un nouveau métier
        dans la fonction publique (Période préparatoire au reclassement,
        convention de mise à disposition entre deux employeurs etc)
      </p>

      <div class="detail">
        <span class="bold">Renseignez-vous auprès :</span>

        <ul>
          <li>
            de votre conseiller mobilité, référent handicap ou service ressource
            humaine de votre employeur
          </li>
          <li>
            ou de la plateforme RH du Secrétariat général aux affaires
            régionales (SGAR) de votre région
          </li>
          <li>
            ou pour les fonctionnaires territoriaux : du référent handicap ou du
            service santé au travail du Centre de gestion de la fonction
            publique territoriale (CDG) de votre département
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
