.result-item {
  background: #f2f2f2;
  border: 1px solid #C9D3DF;
  margin-bottom: 20px;
  padding: 15px;

  // box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
  // -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
  // -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);

  & .bold {
    font-weight: bold;
  }

  & .separator {
    height: 2px;
    width: 100%;
    background: #C9D3DF;
    margin-bottom: 15px;
  }

  & .result-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & .name {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.01em;
    }
    & .activity {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.01em;
    }
  }
  & .result-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    & .corp-name {
      margin-right: 30px;
    }
  }
  & .result-footer {
    & .more-info {
      background: #006BE6;
      border: 1px solid #cbc8c8;
      color: #ffffff;
      font-weight: bold;
      font-size: 14px;
    }

    & .contacts {

    }
  }
}