.btn-sq-lg {
  width: 120px !important;
  height: 120px !important;
}

.btn,
a {
  text-transform: none;
  color: #fff !important;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;

  margin-bottom: 20px;;
}
