<div>
  <!-- REPONSE POUR QUESTION TYPE FILTRE -->
  <a
  (click)="nextQuestion()"
    *ngIf="questionStepType == 'redirect'"
    class="d-flex justify-content-between align-items-center btn btn-sq-lg btn-primary"
  >
    {{ proposal.label }}
  </a>

  <!-- REPONSE POUR QUESTION TYPE CRITERE DE RECHERCHE -->
  <div
    *ngIf="questionStepType == 'criteria'"
    class="d-sm-flex justify-content-between align-items-center"
  >
    <form (ngSubmit)="updateCriteriasState(userForm.value)" #userForm="ngForm">
      <label for="{{ proposal.id }}">{{ proposal.label }}</label>
      <input
        type="text"
        class="form-control form-control-lg"
        id="{{ proposal.id }}"
        placeholder="{{ proposal.placeholder }}"
        name="{{ proposal.id }}"
        required
        ngModel
      />
      <button type="submit" class="btn btn-primary" *ngIf="index < lengthOfQuestionSteps - 1">Suivant</button>
      <button type="submit" class="btn btn-primary" *ngIf="index == lengthOfQuestionSteps - 1">Récapitulatif</button>
    </form>
  </div>
</div>
