.q-step-comp {
  background-color: #fff;
  padding: 15px;
  min-height: 375px;

  /* Ombre portée */
  -webkit-box-shadow: 3px 3px 5px -1px rgba(133, 130, 133, 1);
  -moz-box-shadow: 3px 3px 5px -1px rgba(133, 130, 133, 1);
  box-shadow: 3px 3px 5px -1px rgba(133, 130, 133, 1);

}

.btn-sq-lg {
  width: 120px !important;
  height: 120px !important;
}

.question-wrapper {
  max-width: 600px;
}
