.q-step-comp {
  padding: 15px;
}

.btn-sq-lg {
  width: 120px !important;
  height: 120px !important;
}

.question-wrapper {
  max-width: 600px;

  & h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
    color: #26353f;
    letter-spacing: 0.06em;
  }

  & h3 {
    font-size: 22px;
  }
}
