<nav class="q-step-comp container">

  <p id="title-page" tabindex="-1" class="sr-only">Etape {{ indexStepper }} - Questionnaire immersion</p>

  <div
    *ngIf="questionStep != undefined && questionStep.type != 'disclaimer'"
    class="container question-wrapper"
    role="region"
  >
    <h1 id="question-title" *ngIf="questionStep.sentence != ''">
      {{ questionStep.sentence }}
      <span *ngIf="questionStep.proposals[0].id == 'address'">(adresse postale)</span>
    </h1>
    <h3 *ngIf="questionStep.description != ''">
      {{ questionStep.description }}
    </h3>

    <div class="proposals-wrapper">
      <div
        *ngFor="
          let proposal of questionStep.proposals | keyvalue;
          let i = index
        "
      >
        <andi-proposal
          aria-describedby="question-title"
          *ngIf="questionStep.type == 'redirect'"
          [proposal]="proposal.value"
          questionStepType="{{ questionStep.type }}"
          questionStepId="{{ questionStepId }}"
        ></andi-proposal>

        <andi-criterion
          aria-describedby="question-title"
          *ngIf="questionStep.type == 'criteria'"
          [proposal]="proposal.value"
        ></andi-criterion>
      </div>
    </div>
  </div>
</nav>
<andi-stepper-overview
  role="region"
  *ngIf="questionStep != undefined && questionStep.type == 'disclaimer'"
></andi-stepper-overview>
