.bouton {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  cursor: pointer;
}

.nav-comp {
  margin-left: 65px;
  margin-bottom: 30px;
}

.skip-comp {
  width: 100%;
  text-align: center;
}