.capsule {
  background-color: #F2F2F2;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.commitment {
  display: flex;
  flex-wrap: wrap;
  margin-left:9px;

  & .cta-block {
    max-width: 560px;

    & h1 {
      font-size: 28px;
      margin-bottom: 30px;
    }

    & .cta-text {
      font-size: 18px;
      margin-left: 25px;
      margin-bottom: 30px;
    }

    & .cta-btn {
      margin-left: 25px;
      background-color: #006BE6;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
      min-height: 60px;
      width: 100%;
      text-decoration: none;
      /* Ombre portée */
      -webkit-box-shadow: 3px 3px 5px -1px rgba(133, 130, 133, 1);
      -moz-box-shadow: 3px 3px 5px -1px rgba(133, 130, 133, 1);
      box-shadow: 3px 3px 5px -1px rgba(133, 130, 133, 1);

      text-transform: none;
      text-align: center !important;
      color: #fff;
      font-weight: 600;
      font-size: 22px;
      line-height: 28px;
      cursor: pointer;
      text-align: left;
      margin-bottom: 20px;

      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

      &:hover {
        box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      }
    }
  }

  & .video-commitment {
    width: 560px;
    height: 315px;
  }
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 560px) {
  .capsule {
    & .video-commitment {
      width: 320px;
      height: 180px;
    }
  }

}
