<div class="capsule">

  <div class="commitment">

    <div class="cta-block">
      <h1 class="bold">Employeurs, ouvrez vos portes aux personnes en situation de handicap</h1>
      <p class="cta-text">Accueillir facilement des personnes en situation de handicap, c’est possible. Avec ANDi,
        découvrez l’immersion
        professionnelle, un dispositif simple et sans engagement. <span class="bold">Devenez ANDi-accueillant.</span></p>

      <a href="https://andi.beta.gouv.fr/links/formulaire_referencement" class="cta-btn"
         (click)="trackClick('formulaire-referencement')">Référencez-vous</a>
    </div>

    <div class="video-block">
      <iframe aria-label="Vidéo YouTube - Témoignages d'immersions - Sous-titres disponibles"
              title="Vidéo YouTube - Témoignages d'immersions - Sous-titres disponibles" class="video-commitment"
              src="https://www.youtube.com/embed/CZqKjQ22g90" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

</div>
