.firm-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  width: 100%;
}

.white-block {
  width: 100%;
  margin-top: -70px;
  height: 70px;
  background-color: #FFFFFF;
}

andi-firm-commitment {
  width: 100%;
}
