.capsule {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  min-height: 100px;
  //margin-bottom: 70px;
}

.site-header {
  width: 100%;
  max-width: 1200px;
  margin-right: 0;
  margin-left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #ffffff;

  & .container_logo {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 300px;
    cursor: pointer;

    & .logo-cdc {
      width: 50px;
      height: 50px;
    }

    & .bloc-marque {
      justify-content: space-between;
      flex-wrap: wrap;

      & .andi-logo {
        width: 86px;
        height: 50px;
        margin-right: 10px;
      }

      & .website-title {
        font-size: 16px;
        letter-spacing: 0.01em;
        font-family: Evolventa, "Helvetica Neue", sans-serif;
      }
    }
  }
  & img {
    height: 40px;
  }
}

span {
  cursor: pointer;
}

@media screen and (max-width: 455px) {
  .site-header .container_logo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 425px;

    & .bloc-marque {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 375px) {
  .site-header {
    display: flex;
    justify-content: center;

    & .container_logo {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      margin-top: 15px;
    }

    & andi-some-help {
      margin-bottom: 15px;
    }
  }
}
