.site-header {
  width: 100%;
  min-height: 100px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container_logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;;
}

img {
  height: 65px;
}

.website-title {
  font-size: 48px;
  font-family: Evolventa, "Helvetica Neue", sans-serif;
}

.block_aide {
  margin-right: 100px;
}

.aide {
  display: flex;
  align-items: center;
  background-color: #0053b3;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 40px;
  padding-right: 50px;
  padding-left: 30px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.aide:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.aide::before {
  content:url(../../../../assets/logo-marianne.svg);
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 50px;
  margin-right: 10px;
}

