<div class="site-header">
  <span class="andi_logo">
    <img width="200" alt="ANDi Logo" src="assets/logo-marianne.svg" />
  </span>
  <span class="website-title">
    andi<b>.beta.gouv.</b><em>fr</em></span>
  <div class="container">
    <span class="image_contact">
      <img class="displayed" width="50" alt="ANDi logo" src="assets/logo-marianne.svg" />
    </span>
    <span class="button_contact">
    <p>Besoin d'aide ?<a href="mailto:ANDI_Startup@caissedesdepots.fr"> Ecrivez-nous</a>
    </p>
  </span>
  </div>
</div>
