<div class="capsule">

  <div class="partners-comp container">

    <h1>Ils sont devenus ANDi accueillants</h1>

    <div class="logos">
      <img hidden class="tf1" aria-label="Chaîne de télévision TF1" src="assets/images/partners/logo-tf1.svg" alt="Logo de TF1"/>
      <img class="thales" aria-label="Entreprise Thalès" src="assets/images/partners/logo-thales.svg" alt="Logo de Thalès"/>
      <img hidden class="stef" aria-label="Entreprise Stef" src="assets/images/partners/logo-stef.gif" alt="Logo de Stef"/>
      <img class="fleuriste" aria-label="Fleuriste Nathalie Marguerite" src="assets/images/partners/logo-fleuriste.png" alt="Logo Fleuriste"/>
      <img class="michelin" aria-label="Entreprise Michelin" src="assets/images/partners/logo-michelin.png" alt="Logo Michelin"/>
      <img hidden class="koena" aria-label="Entreprise Koena" src="assets/images/partners/logo-koena.svg" alt="Logo Koena"/>
    </div>
  </div>
</div>

