.capsule {
  width: 100%;
  background-color: #F2F2F2;

  & .partners-comp {
    padding-top: 35px;
    padding-bottom: 35px;

    & h1 {
      font-size: 13px;
      font-weight: bold;
    }

    & .logos {
      display: flex;
      flex-wrap: wrap;
      // TODO à remettre quand logos validés
      //justify-content: space-between;
      & img {
        // TODO à supprimer quand logos validés
        margin-right: 50px;
        width: auto;
        height: 35px;
      }
    }
  }
}

