<div class="capsule">
  <div class="partners-comp container">
    <h1>Ils sont devenus ANDi accueillants</h1>

    <div class="logos">
      <a href="https://www.groupe-tf1.fr/" target="_blank">
        <img
          hidden
          class="tf1"
          aria-label="Chaîne de télévision TF1"
          src="assets/images/partners/logo-tf1.svg"
          alt="Logo de TF1"
        />
      </a>

      <a href="https://www.thalesgroup.com/fr/" target="_blank"
        ><img
          class="thales"
          aria-label="Entreprise Thalès"
          src="assets/images/partners/logo-thales.svg"
          alt="Logo de Thalès"
      /></a>

      <a href="https://www.stef.com/" target="_blank">
        <img
          class="stef"
          aria-label="Entreprise Stef"
          src="assets/images/partners/logo-stef.gif"
          alt="Logo de Stef"
        />
      </a>

      <a
        href="https://latelierdemarguerite-fleuriste-pontoise.fr/"
        target="_blank"
      >
        <img
          class="fleuriste"
          aria-label="Fleuriste Nathalie Marguerite"
          src="assets/images/partners/logo-fleuriste.png"
          alt="Logo Fleuriste"
        />
      </a>

      <a href="https://www.michelin.com/" target="_blank">
        <img
          class="michelin"
          aria-label="Entreprise Michelin"
          src="assets/images/partners/logo-michelin.png"
          alt="Logo Michelin"
        />
      </a>

      <a href="https://koena.net/" target="_blank">
        <img
          class="koena"
          aria-label="Entreprise Koena"
          src="assets/images/partners/logo-koena.svg"
          alt="Logo Koena"
        />
      </a>
    </div>
  </div>
</div>
