<div class="rqth">
  <span class="bold">En cas de RQTH</span>
  <p>
    L’AGEFIPH peut vous aidez à financer l’aménagement de votre poste de travail
    ou/et de votre transport.<br /><a
      (click)="downloadHelpRqth()"
      href="javascript:void(0)"
      class="link"
      aria-label="En savoir plus sur les aides
      auxquelles vous avez droit (Nouvel onglet - Ficher PDF)"
      >En savoir plus sur les aides auxquelles vous avez droit</a
    >
  </p>
  <p>
    Vous pouver
    <a
      (click)="goAgefiph()"
      href="javascript:void(0)"
      class="link"
      aria-label="Consulter le site internet de l'AGEFIPH (Nouvel onglet)"
      >consulter le site internet de l'AGEFIPH</a
    >
  </p>
  <p>Vous pouvez contacter l'AGEFIPH par téléphone au<a
    href="tel:0800111009"
    class="phone-number"
    aria-label="Appeler l'AGEFIPH : 0800 11 10 09"
    >0800 11 10 09</a
  ></p>
</div>
