<div class="capsule-cta">

  <!-- CLICK TO CALL -->
  <div class="cta-block">
    <div class="content">
      <h1 class="title">Vous êtes en situation de handicap et vous avez un projet professionnel ?</h1>
      <p>Faites une immersion professionnelle pour vérifier que ce métier vous correspond.</p>
      <button>Commencer</button>
    </div>
    <div class="illustration">
      <img alt="" aria-hidden="true" src="assets/images/img-observer.svg"/>
    </div>
  </div>
</div>


<div class="capsule">
  <!-- SHORT FAQ -->
  <div class="faq">
    <h1 class="title">L'immersion professionnelle</h1>
    <div class="tabs">
      <div class="tab">
        <input class="tab-input" type="checkbox" id="tab1">
        <label class="tab-label" for="tab1">Pourquoi faire une immersion professionnelle ?</label>
        <div class="tab-content">
          Une immersion professionnelle, notamment une Période de mise en situation en milieu professionnel (PMSMP)
          permet de vérifier qu’un métier vous plaît et qu’il est compatible avec votre situation de handicap. C’est
          aussi un moyen de prendre ou reprendre contact avec la vie active ou de préparer une formation.
        </div>
      </div>

      <div class="tab">
        <input class="tab-input" type="checkbox" id="tab2">
        <label class="tab-label" for="tab2">Combien de temps dure une immersion ?</label>
        <div class="tab-content">
          Entre une journée et 30 jours. La moyenne est de 15 jours. Cela dépend du métier que vous voulez essayer et de
          la disponibilité de l’employeur. Cela est à définir avec l’employeur chez qui vous faites une immersion.
        </div>
      </div>

      <div class="tab">
        <input class="tab-input" type="checkbox" id="tab3">
        <label class="tab-label" for="tab3">Est-on rémunéré durant cette période ?</label>
        <div class="tab-content">
          Non, l’immersion (PMSMP) n’est pas rémunérée. Cependant vous conservez votre statut (demandeur d’emploi,
          salarié ou travailleur d’ESAT par exemple) et donc vos droits.
        </div>
      </div>

      <div class="tab">
        <input class="tab-input" type="checkbox" id="tab4">
        <label class="tab-label" for="tab4">Peut-on être embauché après une immersion ?</label>
        <div class="tab-content">
          L’objectif de l’immersion est avant tout de découvrir un métier auprès d’un professionnel en activité.
          L’employeur qui vous accueille n’a donc aucune obligation de vous embaucher, même si cela peut arriver. Si
          cette question est importante pour vous, vous pouvez en parler directement avec l’employeur.
        </div>
      </div>
    </div>
  </div>

  <!-- BUTTONS ACTION -->
  <div class="links">

  </div>

  <!-- PARTNERS -->
  <div class="partners">

  </div>
</div>
