<div class="overview-comp">
  <h1 class="comp-title">
    <span class="bold">Vous pouvez faire une immersion !</span> Pour cela, vous
    avez quelques démarches à faire.
  </h1>
  <p class="description">
    Vous êtres un travailleur d’ESAT et voulez découvrir le travail en milieu
    ordinaire ? Vous êtes salarié en EA ou demandeur d’emploi accompagné et vous
    voulez découvrir un métier ou sécuriser votre emploi?
  </p>

  <h1 class="title">Quelles sont les démarches ?</h1>

  <ol class="demarche-steps">
    <li>
      Informez
      <span class="bold">votre accompagnant ou votre moniteur d’atelier</span>
      que vous voulez faire une immersion.
      <p class="info">
        <span class="bold"
          >Pourquoi informer votre accompagnant ou votre moniteur d’atelier
          ?</span
        ><br />
        Il préviendra votre équipe, car votre immersion se déroulera pendant
        votre temps de travail habituel en ESAT.
      </p>
    </li>

    <li>
      <span class="bold">Contactez les employeurs</span> pour faire une
      immersion en milieu ordinaire
      <div class="info">
        <span class="bold"
          >Comment chercher une immersion professionnelle ?</span
        ><br />
        Votre accompagnant ou votre moniteur d’atelier peut vous aider à
        chercher une entreprise, grâce à notre moteur de recherche et à nos
        conseils.

        <a (click)="goToSearch()" [routerLink]="['/']" class="link">
          Chercher une immersion en milieu ordinaire
        </a>
      </div>
    </li>

    <li>
      <span class="bold">Votre ESAT</span> s’occupera de toutes les démarches
      pour faire signer votre convention
      <div class="info">
        <span class="bold">Quelle est cette convention ?</span><br />
        Pour débuter votre immersion, vous devez faire signer votre convention
        par l’employeur qui vous accueillera, par votre accompagnant et par
        vous-même.

        <!-- <p (click)="goToSearch()" class="link">
          Accéder à l’ensemble de la démarche
        </p> -->
      </div>
    </li>
  </ol>

  <h1 class="title">Qui peut m'aider ?</h1>

  <div class="description macro">
    <p class="bold">Votre accompagnant ou votre moniteur d’atelier</p>
    Il est là pour vous accompagner dans votre projet d’évolution
    professionnelle et vous aider dans vos démarches. Posez-lui librement toutes
    vos questions.
  </div>
</div>
