<div class="overview-comp">
  <h1 class="comp-title">Oui, vous pouvez faire une immersion !</h1>
  <p class="comp-subtitle">
    Vous pouvez commencer à chercher une structure dès maintenant
  </p>

  <h2>Les démarches</h2>
  <hr class="separator" />

  <!-- DEMARCHE INTERLOCUTEUR -->
  <div class="demarche">
    <div class="column" aria-hidden="true">
      <div class="circle small">
        <span class="icon"
          ><i class="material-icons">
            call
          </i></span
        >
      </div>
      <div class="v-separator"></div>
    </div>

    <div class="contenu">
      <h3>
        Informez votre accompagnant ou votre moniteur d’atelier que vous voulez
        faire une immersion
      </h3>

      <div class="detail">
        <span class="bold"
          >Pourquoi informer votre accompagnant ou votre moniteur d’atelier
          ?</span
        >
        <p>
          Il préviendra votre équipe, car votre immersion se déroulera pendant
          votre temps de travail habituel en ESAT. Il est là pour vous
          accompagner dans votre projet d’évolution professionnelle et vous
          aider dans vos démarches
        </p>
      </div>
    </div>
  </div>

  <!-- DEMARCHE RECHERCHE -->
  <div class="demarche">
    <div class="column" aria-hidden="true">
      <div class="circle small">
        <span class="icon"
          ><i class="material-icons">
            search
          </i></span
        >
      </div>
      <div class="v-separator"></div>
    </div>

    <div class="contenu">
      <h3>
        Contactez les employeurs pour faire une immersion en milieu ordinaire
      </h3>

      <div class="detail">
        <span class="bold"
          >Comment chercher une immersion professionnelle ?</span
        >
        <p>
          Votre accompagnant ou votre moniteur d’atelier peut vous aider à
          chercher une entreprise, grâce à notre moteur de recherche et à nos
          conseils
        </p>
      </div>
    </div>
  </div>
</div>
