<div class="overview-comp">
  <h1 class="comp-title">
    <span class="bold">Vous pouvez faire une immersion !</span> Pour cela, vous
    avez quelques démarches à faire.
  </h1>
  <p class="description">
    Vous voulez découvrir le travail en milieu ordinaire ? Vous pouvez faire une
    immersion professionnelle dans une entreprise ou une association.
  </p>

  <h1 class="title">Quelles sont les démarches ?</h1>

  <ol class="demarche-steps">
    <li>
      Informez <span class="bold">votre accompagnant</span> que vous voulez
      faire une immersion.
      <p class="info">
        <span class="bold">Pourquoi informer votre accompagnant ?</span><br />
        Votre immersion se déroulera pendant votre temps de travail habituel en
        ESAT ou en Entreprise adaptée. Votre accompagnant préviendra votre
        équipe.
      </p>
    </li>

    <li>
      <span class="bold">Contactez les entreprises</span> pour faire une
      immersion en milieu ordinaire
      <div class="info">
        <span class="bold"
          >Comment chercher une immersion professionnelle ?</span
        ><br />
        Votre accompagnant peut vous aider à chercher une entreprise, grâce à
        notre moteur de recherche et à nos conseils.

        <p (click)="goToSearch()" class="link">
          Chercher une immersion en entreprise
        </p>
      </div>
    </li>

    <li>
      <span class="bold">Votre accompagnant</span> s’occupera de toutes les
      démarches pour faire signer votre convention
      <div class="info">
        <span class="bold">Quelle est cette convention ?</span><br />
        Pour débuter votre immersion, vous devez faire signer votre convention
        par l’employeur qui vous accueillera, par votre accompagnant et par
        vous-même.

        <p (click)="goToSearch()" class="link">
          Accéder à l’ensemble de la démarche
        </p>
      </div>

      <!-- RQTH -->
    </li>
  </ol>

  <h1 class="title">Qui peut m'aider ?</h1>

  <div class="description macro">
    <p class="bold">Votre accompagnant</p>
    Il est là pour vous accompagner dans votre projet d’évolution
    professionnelle et vous aider dans vos démarches. Posez-lui librement toutes
    vos questions.
  </div>
</div>
