<div class="proposal-wrapper">
    <div class="overview-comp">
      <h1 class="title">Vous pouvez faire une immersion ! Pour cela, vous avez quelques démarches à faire.</h1>
      <p class="description" [innerHTML]="diagContent.intro"></p>

      <h1 class="title">Quelles sont les démarches ?</h1>

      <ol>
        <li [innerHTML]="diagContent.firstList"></li>
        <li [innerHTML]="diagContent.firstDescr"></li>
      </ol>

      <p class="info">
        Si vous avez besoin d’aide pour le remplir votre conseiller en évolution
        professionnelle est là pour vous
        <span (click)="goToSearch()" class="link">
          Accédez à notre outil de recherche d’entreprise
        </span>
      </p>
    </div>




    <!-- REPONSE POUR QUESTION TYPE DISCLAIMER -->
    <button
      (click)="nextQuestion()"
      class="proposal-btn btn d-flex justify-content-between align-items-center"
    >
      Continuer
    </button>
  </div>
  