<div class="proposal-wrapper">
  <andi-job-search
    *ngIf="isJobSearch"
    [isSick]="isSick"
    [isRqth]="isRqth"
  ></andi-job-search>

  <andi-job-private
    *ngIf="isJobPrivate"
    [isSick]="isSick"
    [isRqth]="isRqth"
  ></andi-job-private>

  <andi-job-public
    *ngIf="isJobPublic"
    [isSick]="isSick"
    [isRqth]="isRqth"
  ></andi-job-public>

  <andi-job-esat
    *ngIf="isJobEsat"
    [isSick]="isSick"
    [isRqth]="isRqth"
  ></andi-job-esat>

  <andi-job-iae
    *ngIf="isJobIae"
    [isSick]="isSick"
    [isRqth]="isRqth"
  ></andi-job-iae>

  <andi-formation
    *ngIf="isFormation"
    [isSick]="isSick"
    [isRqth]="isRqth"
  ></andi-formation>

  <andi-unfollowed
    *ngIf="isUnfollowed"
    [isSick]="isSick"
    [isRqth]="isRqth"
  ></andi-unfollowed>

  <a href="javascript:void(0)"
     *ngIf="!isUnfollowed"
     (click)="nextQuestion()"
     class="proposal-btn btn"
  >
    Rechercher une immersion
  </a>
  <andi-navigation-step></andi-navigation-step>
</div>
