@font-face {
    font-family: 'Dosis';
    src: url('assets/fonts/Regular/Dosis-Medium.woff2') format('woff2'),
        url('assets/fonts/Regular/Dosis-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Evolventa';
    src: url('assets/fonts/Regular/Evolventa-Regular.woff2') format('woff2'),
        url('assets/fonts/Regular/Evolventa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('assets/fonts/Regular/Raleway-Regular.woff2') format('woff2'),
        url('assets/fonts/Regular/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

