.advice-comp {
  background-color: #FFFFFF;
  padding: 30px;

  & .main-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.06em;
    margin-bottom: 25px;
  }

  & dt {
    cursor: pointer;
    font-size: 18px;
    border-bottom: 2px solid #8B939E;
    padding-bottom: 10px;
    margin-top: 10px;
  }

  & dd {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 25px;
    background-color: #EEEEEE;
    font-size: 18px;
  }
}

/*
.advice-toggle {
  display: flex;
  justify-content: space-between;

  cursor: pointer;
  background: #FFFFFF;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  & .title {
    display: inline;
    color: #000000;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.01em;

    & i {
      font-size: 18px;
      line-height: 28px;
    }
  }
}

.advice-comp {
  background: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;

  & li {
    margin-bottom: 10px;
  }

  & .bold {
    font-weight: bold;
  }
  & .italic {
    font-style: italic;
  }

  & .title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.01em;

    & i {
      font-size: 18px;
      line-height: 28px;
    }
  }

  & .content {
    padding-left: 20px;
    padding-right: 20px;

    & .subtitle {
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 25px;
      letter-spacing: 0.01em;
      text-decoration-line: underline;
      margin-bottom: 10px;
    }

    & .sub-content {
      margin-left: 40px;
      margin-right: 40px;
    }

    & .sub-content-ul {
      margin-right: 40px;
    }
  }
}
*/
