<div class="firm-goals-comp container">

  <h1 class="bold">ANDi facilite l'immersion professionnelle, sous forme de PMSMP*</h1>
  <p class="definition bold">* Périodes de mise en situation en milieu professionnel</p>

  <div class="goal">
    <img alt="" aria-hidden="true" src="assets/icons/firm/handshake-icn.svg"/>
    <div class="goal-content">
      <h2>Accueillez facilement des personnes en situation de handicap en immersion</h2>
      <ul class="goal-list">
        <li>Une période courte d’une à quatre semaines</li>
        <li>Sans engagement financier</li>
        <li>Une couverture juridique assurée par une structure accompagnante</li>
      </ul>
    </div>
  </div>


  <div class="goal">
    <img alt="" aria-hidden="true" src="assets/icons/firm/fem-user-icn.svg"/>
    <div class="goal-content">
      <h2>Faites découvrir vos métiers et pré-sourcez des candidats</h2>
      <ul class="goal-list">
        <li>Un dispositif pour pré-identifier des profils diversifiés </li>
        <li>Un moyen supplémentaire de répondre à votre obligation d’emploi</li>
      </ul>
    </div>
  </div>


  <div class="goal">
    <img alt="" aria-hidden="true" src="assets/icons/firm/crew-icn.svg"/>
    <div class="goal-content">
      <h2>Sensibilisez vos équipes au handicap et à l’inclusion</h2>
      <ul class="goal-list">
        <li>Changer le regard sur le handicap en entreprise</li>
      </ul>
    </div>
  </div>
</div>

