<div class="overview-comp">
  <p class="comp-subtitle">
    <span class="bold">Avant de chercher une immersion</span>,<br />
    vous devez trouver une structure pour vous accompagner à définir votre projet professionnel.
  </p>

  <h2>Les démarches</h2>
  <hr class="separator"/>

  <!-- DEMARCHE INTERLOCUTEUR -->
  <div class="demarche">
    <div class="column" aria-hidden="true">
      <div class="circle small">
        <span class="icon"
        ><i class="material-icons">
            call
          </i></span
        >
      </div>
      <div class="v-separator"></div>
    </div>

    <div class="contenu">
      <h3>Trouver une structure d’accompagnement</h3>

      <div class="detail">
        <span class="bold"
        >Comment trouver une structure d’accompagnement ?</span
        >
        <p>Il n’est pas obligatoire de vous inscrire à Pôle emploi. Vous pouvez être accompagné par une association
          spécialisée, par Cap Emploi ou une Mission Locale par exemple. Le Centre Communal d’Action Sociale (CCAS) de
          votre commune peut vous renseigner.</p>
      </div>
    </div>
  </div>
</div>
