<div class="sick">
  <span class="bold">En cas d’arrêt maladie</span>
  <p>
    Vous devez avoir également l’accord de votre médecin traitant et de la
    Cellule de Prévention de la Désinsertion Professionnelle (CPDP) de votre
    département
  </p>
  <p>
    Attention, les délais pour compléter le dossier à transmettre à la CPDP
    peuvent être longs (entre 4 et 6 semaines)
  </p>
  <p>Vous pouvez contacter la CPDP :</p>
  <ul>
    <li>
      Par téléphone au
      <a
        href="tel:3646"
        class="phone-number"
        aria-label="Appeler Ameli 36 46"
        >36 46</a
      >
      (CNAM)
    </li>
    <li>
      Si vous relevez de la sécurité sociale,
      <a
        (click)="goAmeli()"
        href="javascript:void(0)"
        class="link"
        aria-label="Accéder au site d’Ameli (Nouvel onglet)"
        >accéder au site d’Ameli</a
      >
    </li>
    <li>
      Si vous relevez de la MSA,
      <a
        (click)="goMsa()"
        href="javascript:void(0)"
        class="link"
        aria-label="Accéder au site de la MSA (Nouvel onglet)"
        >accéder au site de la MSA</a
      >
    </li>
  </ul>
</div>
