<div class="comp">
  <div class="capsule-utility">
    <div class="utility">
      <div class="help">
        <p>Besoin d'aide ?</p>
        <a href="mailto:andi@beta.gouv.fr" title="Contacter ANDi" (click)="trackMailto('footer-nous-contacter')">Nous
          contacter</a>
        <a hidden href="https://andi.beta.gouv.fr/conditions-generales" (click)="trackClick('conditions-generales')">Foire
          aux
          questions (FAQ)</a>
        <a class="avis" target="_blank" aria-label="Enquête de satisfaction - Nouvel onglet"
           href="https://voxusagers.numerique.gouv.fr/Demarches/2536?&view-mode=formulaire-avis&nd_mode=en-ligne-enti%C3%A8rement&nd_source=button&key=a56e7fb9238049fbc30098b09d7bf247">
          Je donne mon avis</a>
      </div>
      <div class="follow">
        <p>Suivez-nous</p>
        <div class="logos">

          <a href="https://github.com/betagouv/andi" target="_blank" aria-label="Accéder au code source du projet ANDi">
            <img
              class="github"
              src="assets/icons/footer/logo-github.png"
              alt="Accéder au code source du projet ANDi"
            />
          </a>

          <a href="https://www.linkedin.com/company/40770793/admin" target="_blank"
             aria-label="Accéder au profil LinkedIn d'ANDi">
            <img
              class="linkedin"
              src="assets/icons/footer/logo-linkedin.png"
              alt="Accéder au profil LinkedIn d'ANDi"
            />
          </a>

          <a href="https://www.youtube.com/channel/UCpdxQewkNIf11dwc1nqgS8A/featured?disable_polymer=1" target="_blank"
             aria-label="Accéder à la chaîne YouTube d'ANDi">
            <img
              class="youtube"
              src="assets/icons/footer/logo-youtube.png"
              alt="Accéder à la chaîne YouTube d'ANDi"
            />
          </a>

          <a href="https://twitter.com/ANDi_betagouv" target="_blank" aria-label="Accéder compte Twitter d'ANDi">
            <img
              class="twitter"
              src="assets/icons/footer/logo-twitter.png"
              alt="Accéder compte Twitter d'ANDi"
            />
          </a>

        </div>
      </div>
    </div>
  </div>


  <div class="capsule-help">
    <div class="legal">
      <a href="https://andi.beta.gouv.fr/mentions-legales">Mentions légales</a>
      <a href="https://andi.beta.gouv.fr/conditions-generales">Conditions générales</a>
      <a href="https://andi.beta.gouv.fr/donnees-personnelles">Données personnelles</a>
      <a href="https://andi.beta.gouv.fr/stats">Statistiques</a>
    </div>
  </div>
</div>

