.comp {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 150px;

  & .capsule-utility {
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: center;

    & .utility {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1200px;
      width: 100%;
      min-height: 100px;
      padding-top: 20px;
      padding-bottom: 20px;

      & p {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold
      }

      & a {
        cursor: pointer;
        font-weight: normal;
        font-size: 16px;
        text-decoration-line: none;
        color: #FFFFFF;
        margin-right: 30px;

      }

      & .logos img {
        height: 31px;

        &.twitter {
          fill: #FFFFFF;
        }
      }
    }
  }

  & .capsule-help {
    width: 100%;
    background-color: #575757;
    border-top: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;

    & .legal {
      min-height: 50px;
      width: 100%;
    }
  }
}
