<div class="overview-comp">
  <h1 class="comp-title">Oui, vous pouvez faire une immersion !</h1>
  <p class="comp-subtitle">
    Vous pouvez commencer à chercher une structure dès maintenant
  </p>

  <h2>Les démarches</h2>
  <hr class="separator" />

  <!-- DEMARCHE INTERLOCUTEUR -->
  <div class="demarche">
    <div class="column" aria-hidden="true">
      <div class="circle small">
        <span class="icon"
          ><i class="material-icons">
            call
          </i></span
        >
      </div>
      <div class="v-separator"></div>
    </div>

    <div class="contenu">
      <h3>Contacter votre conseiller emploi</h3>

      <div class="detail">
        <span class="bold"
          >De quoi allez-vous parler avec votre conseiller ?</span
        >
        <p>
          Vous l’informez de votre souhait de faire une immersion
          professionnelle et du métier que vous voulez essayer. Il vous
          accompagne dans votre projet d’évolution professionnelle et vous aide
          dans vos démarches administratives
        </p>
      </div>

      <andi-sick-info *ngIf="isSick"></andi-sick-info>
    </div>
  </div>

  <!-- DEMARCHE RECHERCHE -->
  <div class="demarche">
    <div class="column" aria-hidden="true">
      <div class="circle small">
        <span class="icon"
          ><i class="material-icons">
            search
          </i></span
        >
      </div>
      <div class="v-separator"></div>
    </div>

    <div class="contenu">
      <h3>
        Chercher une structure d’accueil qui correspond à votre projet
        professionnel
      </h3>

      <div class="detail">
        <span class="bold">Comment chercher une immersion ?</span>
        <p>
          ANDi référence les entreprises proches de chez vous qui correspondent
          à votre projet professionnel. Trouvez-les grâce à notre moteur de
          recherche et nos conseils !
        </p>
        <p>
          À noter : votre conseiller peut vous aider à trouver une structure
          d’accueil
        </p>
      </div>

      <andi-rqth-info *ngIf="isRqth"></andi-rqth-info>
    </div>
  </div>
</div>
