<div class="overview-comp">
  <h1 class="comp-title">
    <span class="bold">Vous pouvez faire une immersion !</span> Pour cela, vous
    avez quelques démarches à faire.
  </h1>
  <p class="description">
    Vous voulez savoir si un métier vous convient ? Vous pouvez faire une
    immersion en entreprise pour valider votre projet auprès d’un professionnel
    en activité.
  </p>

  <h1 class="title">Quelles sont les démarches ?</h1>

  <ol class="demarche-steps">
    <li>
      <span class="bold">Contactez</span> rapidement
      <span class="bold">votre conseiller emploi</span>.
      <p class="info">
        <span class="bold"
          >De quoi allez-vous parler avec votre conseiller ?</span
        ><br />
        Vous l’informez de votre souhait de faire une immersion professionnelle
        et du métier que vous voulez essayer. Posez-lui toutes les questions que
        vous voulez.
      </p>
    </li>

    <li>
      <span class="bold">Contactez les entreprises</span> prêtes à vous faire
      découvrir leurs métiers
      <div class="info">
        <span class="bold">Comment chercher une immersion ?</span><br />
        ANDi référence les entreprises proches de chez vous qui correspondent à
        votre projet professionnel. Trouvez-les grâce à notre moteur de
        recherche et nos conseils !

        <p (click)="goToSearch()" class="link">
          Chercher une immersion
        </p>
    </div>
    </li>

    <li>
      <span class="bold">Faites signer votre convention</span>
      <div class="info">
        <span class="bold">Quelle est cette convention ?</span><br />
        Pour débuter votre immersion, vous devez faire signer votre convention
        par l’employeur qui vous accueillera, par l’organisme qui vous
        accompagne et par vous-même.

        <p (click)="goToSearch()" class="link">
          Accéder à l’ensemble de la démarche
        </p>
      </div>

      <p class="info">
        <span class="bold">Délais indicatifs :</span> Prévoyez environ 2
        semaines pour faire signer et valider votre convention.
      </p>

      <!-- RQTH -->
    </li>
  </ol>

  <h1 class="title">Qui peut me renseigner ?</h1>

  <p class="description macro">
    <span class="bold"
      >Votre conseiller emploi (Pôle emploi, Cap Emploi, Mission Locale ou Apec,
      selon votre situation)</span
    ><br />Il vous accompagne dans votre projet d’évolution professionnelle et
    vous aide dans vos démarches administratives. Son rôle est de vous
    conseiller et de vous informer.
  </p>
</div>
