@import "../node_modules/bootswatch/dist/materia/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootswatch/dist/materia/bootswatch";
@import "assets/scss/modules/_fonts.scss";

// primary font
$primary_font: "Raleway";
// font-weight
$regular: 500;
$bold: 700;

html {
  height: 100%;
}
body {
  font-family: $primary_font;
  font-weight: $regular;
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #ebeff3;
}

body::after {
  content: "";
  display: block;
  height: 100px;
}

label {
  font-family: Dosis, "Helvetica Neue", sans-serif;
}

/* Disable underline */
.mat-form-field-underline {
  display: none;
}
.mat-form-field-wrapper {
  padding: 0px !important;
}
.mat-form-field input {
  color: #000;
}

.mat-form-field-infix {
  & input {
    height: initial;
    min-height: 40px;
    font-size: initial;
  }
}

/* Auto suggestion style */
.mat-autocomplete-panel {
  background: #FFFFFF !important;
}
.mat-option {
  color: #000000;

  &:hover {
    background: #F2F2F2 !important;
    color: rgb(15, 15, 190) !important;
  }

  &.mat-active {
    background: #F2F2F2 !important;
    color: rgb(15, 15, 190) !important;
  }
}


/* Material icons */
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Focus & active states */
a:active, a:focus,
a.bouton:active, a.bouton:focus,
button:active, button:focus,
input[type="button"]:active, input[type="button"]:focus,
.bouton:active, .bouton:focus,
.btn:active, .btn:focus {
  /* background-color: #006be6!important; */
  outline: #006be6 solid 3px;
}

input:not([type]):active, input:not([type]):focus,
input[type="text"]:active, input[type="text"]:focus,
input[type="range"]:active, input[type="range"]:focus {
  outline: none;
  /* Forced override for -range- field */
  box-shadow: 0px 0px 5px #444 !important;
}


/* HIDDEN ELEMENT BUT ACCESSIBLE */

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}


.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}