@import "../node_modules/bootswatch/dist/materia/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootswatch/dist/materia/bootswatch";
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Dosis, "Helvetica Neue", sans-serif;
  font-weight: bold;
  background-color: #EBEFF3;
}

label {
  font-family: Dosis, "Helvetica Neue", sans-serif;
}

/* Disable underline */
.mat-form-field-underline {
  display: none;
}
.mat-form-field-wrapper {
  padding: 0px !important;
}
.mat-form-field input{
color: #000;}
