.comp {
  background-color: #F2F2F2;
  max-width: 310px;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 20px 15px;
  border-radius: 7px;
  box-shadow: 2px 2px 4px -1px rgba(133, 130, 133, 1);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 3px 7px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  }

  & .icon {
    width: 40px;
    margin-right: 20px;
  }

  & p {
    font-size: 16px;
    margin-bottom: 0;
  }
}


//box-shadow: 3px 3px 5px -1px rgba(133, 130, 133, 1);

