<div class="overview-comp">
  <h1 class="comp-title">Oui, vous pouvez faire une immersion !</h1>
  <p class="comp-subtitle">
    Vous pouvez commencer à chercher une structure dès maintenant
  </p>

  <h2>Les démarches</h2>
  <hr class="separator" />

  <!-- DEMARCHE INTERLOCUTEUR -->
  <div class="demarche">
    <div class="column" aria-hidden="true">
      <div class="circle small">
        <span class="icon"
          ><i class="material-icons">
            call
          </i></span
        >
      </div>
      <div class="v-separator"></div>
    </div>

    <div class="contenu">
      <h3>
        Contacter un conseiller en évolution professionnelle où votre conseiller
        Apec <span class="legend">(si vous êtes cadre)</span>
      </h3>

      <div class="detail">
        <span class="bold"
          >De quoi allez-vous parler avec votre conseiller ?</span
        >
        <p>
          Il vous accompagne dans votre projet d’évolution professionnelle et
          vous aide dans vos démarches administratives. Son rôle est de vous
          conseiller et de vous informer
        </p>

        <a
          (click)="downloadHelpCep()"
          href="assets/datas/aide-cep.pdf"
          class="link"
          aria-label="Trouver un conseiller en évolution professionnelle (Fichier PDF - Nouvel onglet)"
          >Trouver un conseiller en évolution professionnelle</a
        >

        <p>
          A noter : si vous voulez faire une immersion pendant votre temps de
          travail, vous devez avoir l’accord de votre employeur. En cas de refus
          ou si vous souhaitez être discret, vous pouvez faire une immersion
          durant vos congés
        </p>
      </div>
    </div>
  </div>

  <!-- DEMARCHE RECHERCHE -->
  <div class="demarche">
    <div class="column" aria-hidden="true">
      <div class="circle small">
        <span class="icon"
          ><i class="material-icons">
            search
          </i></span
        >
      </div>
      <div class="v-separator"></div>
    </div>

    <div class="contenu">
      <h3>
        Chercher une structure d’accueil qui correspond à votre projet
        professionnel
      </h3>

      <div class="detail">
        <span class="bold">Comment chercher une immersion ?</span>
        <p>
          ANDi référence les entreprises proches de chez vous qui correspondent
          à votre projet professionnel. Trouvez-les grâce à notre moteur de
          recherche et nos conseils !
        </p>
        <p>
          À noter : votre conseiller peut vous aider à trouver une structure
          d’accueil
        </p>
      </div>
    </div>
  </div>
</div>

<a [routerLink]="['/']" (click)="downloadHelpRqth()" class="bold link"
  >A quelles aides ai-je droit dans le cadre de mon immersion ?</a
>

<a (click)="goToSearch()" [routerLink]="['/']" class="link">
  Chercher une immersion
</a>

<span class="bold">L’Agefiph</span><br />
L’Agefiph peut vous aider à obtenir une aide au transport ou à l’aménagement de
votre poste de travail. Contactez la au 0800 11 10 09 ou connectez-vous sur le
<a (click)="goAgefiph()" [routerLink]="['/']">site</a><br />
