<div class="overview-comp">
  <h1 class="comp-title">
    <span class="bold">Vous pouvez faire une immersion !</span> Pour cela, vous
    avez quelques démarches à faire.
  </h1>
  <p class="description">
    Vous voulez changer de métier ou de secteur d’activité et vérifier que ce
    nouveau métier vous convient ?<br />Vous pouvez faire une immersion en
    entreprise pour valider votre projet auprès d’un professionnel en
    activité.<br /><br />L’immersion professionnelle est possible pour toutes
    les personnes en activité, quel que soit leur statut (salarié du secteur
    privé, associatif, indépendant ou profession libérale…). Vous devez être
    accompagné par un conseiller en évolution professionnelle. Ce service est
    gratuit pour toute personne en activité.
  </p>

  <h1 class="title">Quelles sont les démarches ?</h1>

  <ol class="demarche-steps">
    <li>
      <span class="bold">Faites vous accompagner</span> par un conseiller en
      évolution professionnelle et informez-le que vous souhaitez faire une
      immersion.
      <p class="info">
        <span class="bold"
          >De quoi allez-vous parler avec votre conseiller ?</span
        ><br />
        Vous l’informez de votre souhait de faire une immersion professionnelle
        et du métier que vous voulez essayer. Posez-lui toutes les questions que
        vous voulez.
      </p>
      <p (click)="goToSearch()" class="link">
        Trouver un conseiller en évolution professionnelle
      </p>
      <p class="info">
        A noter : Si vous voulez faire une immersion pendant votre temps de
        travail, vous devez avoir l’accord de votre employeur. En cas de refus
        ou si vous souhaitez être discret, vous pouvez faire une immersion
        durant vos congés.
      </p>
    </li>

    <li>
      <span class="bold">Contactez les entreprises</span> prêtes à vous faire
      découvrir leurs métiers
      <div class="info">
        <span class="bold">Comment chercher une immersion ?</span><br />
        ANDi référence les entreprises proches de chez vous qui correspondent à
        votre projet professionnel. Trouvez-les grâce à notre moteur de
        recherche et nos conseils !

        <p (click)="goToSearch()" class="link">
          Chercher une immersion
        </p>
      </div>
    </li>

    <li>
      <span class="bold">Faites signer votre convention</span>
      <div class="info">
        <span class="bold">Quelle est cette convention ?</span><br />
        Pour débuter votre immersion, vous devez faire signer votre convention
        par l’employeur qui vous accueillera, par l’organisme qui vous
        accompagne et par vous-même.

        <p (click)="goToSearch()" class="link">
          Accéder à l’ensemble de la démarche
        </p>
      </div>

      <p class="info">
        <span class="bold">Délais indicatifs :</span> Prévoyez environ 2
        semaines pour faire signer et valider votre convention.
      </p>

      <!-- RQTH -->
    </li>
  </ol>

  <h1 class="title">Qui peut me renseigner ?</h1>

  <div class="description macro">
    <p class="bold">
      Votre conseiller en évolution professionnelle ou votre conseiller Apec si
      vous êtes cadre.
    </p>
    Il vous accompagne dans votre projet d’évolution professionnelle et vous
    aide dans vos démarches administratives. Son rôle est de vous conseiller et
    de vous informer.

    <p class="bold">Votre employeur.</p>
    Si vous l’informez de votre projet, il pourra vous autoriser à faire votre
    immersion pendant votre temps de travail. Il devra alors signer la
    convention d’immersion.
  </div>
</div>
