<!-- REPONSE POUR QUESTION TYPE CRITERE DE RECHERCHE -->
<div>
  <form (ngSubmit)="updateCriteriasState(userForm.value)" #userForm="ngForm">
    <!-- CHAMP AUTO COMPLETE -->
    <div *ngIf="proposal.id != 'range'">
      <label *ngIf="proposal.label != undefined" for="adress">{{
        proposal.label
        }}</label>
      <input
        id="adress"
        placeholder="{{ proposal.placeholder }}"
        [matAutocomplete]="auto"
        [formControl]="formCtrl"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <ng-container>
          <mat-option
            *ngFor="let suggest of suggestionsResult"
            [value]="suggest"
          >
            <span>{{ suggest }}</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>

      <ng-container *ngIf="errorMsg; else elseTemplate">
        {{ errorMsg }}
      </ng-container>
      <ng-template #elseTemplate></ng-template>
    </div>

    <div class="radio-block" *ngIf="proposal.id == 'range'">
      <div class="radio-option">
        <input class="radio" type="radio" id="five" name="{{ proposal.id }}" value="5"
               [(ngModel)]="currentStateForm.range"
               checked>
        <label class="radio-label" for="five">5 km</label>
      </div>

      <div class="radio-option">
        <input class="radio" type="radio" id="ten" name="{{ proposal.id }}" value="10"
               [(ngModel)]="currentStateForm.range">
        <label class="radio-label" for="ten">10 km</label>
      </div>

      <div class="radio-option">
        <input class="radio" type="radio" id="thirty" name="{{ proposal.id }}" value="50"
               [(ngModel)]="currentStateForm.range">
        <label class="radio-label" for="thirty">30 km et plus</label>
      </div>
    </div>


    <button type="submit" class="bouton" *ngIf="proposal.aim != ''">
      Valider
    </button>
    <button type="submit" class="bouton" *ngIf="proposal.aim == ''">
      Rechercher
    </button>
  </form>
</div>
