.proposal-btn {
  min-width: 130px;
  min-height: 100px;
  border: 2px solid #024ca1;
  border-radius: 7px;
  padding: 3px;
  text-transform: none;
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;

  margin-bottom: 20px;
  margin-right: 20px;
}

.form-control {
  display: initial;
}

/* Disable short field */
.mat-form-field {
  display: inherit;
}

label,
button {
  font-size: 16px;
  font-weight: bold;
}

.radio-option {
  display: flex;
  align-items: center;

  & .radio {
    width: inherit;
    margin-bottom: 0;
    margin-right: 10px;
  }
  & .radio-label {
    margin-bottom: 0;
  }
}

.bouton {
  width: 170px;
  min-height: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #006BE6;
  padding: 3px;
  border-radius: 2px;
  -webkit-appearance: inherit;

    /* Ombre portée */
    -webkit-box-shadow: 2px 2px 5px -1px rgba(133, 130, 133, 1);
    -moz-box-shadow: 2px 2px 5px -1px rgba(133, 130, 133, 1);
    box-shadow: 2px 2px 5px -1px rgba(133, 130, 133, 1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: 0 3px 6px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    }
}

input, #adress, #job {
  width: 100%;
  border: 1px solid #8393a7;
  box-sizing: border-box;
  border-radius: 2px;
  padding-left: 10px;
  padding-bottom: 1px;
  padding-top: 1px;
  margin-bottom: 20px;
  min-height: 50px;

  background-color: #fff;
  opacity: 0.8;

  color:#000;
  font-family:roboto;

  &[type="text"]:focus {
    background-color: #ffffff;
    opacity: 0.8;
  }
}
