<!-- REPONSE POUR QUESTION TYPE CRITERE DE RECHERCHE -->
<div>
  <form (ngSubmit)="updateCriteriasState(userForm.value)" #userForm="ngForm">
    <!-- CHAMP AUTO COMPLETE -->
    <div *ngIf="proposal.id != 'range'">
      <label *ngIf="proposal.label != undefined" for="adress">{{
        proposal.label
      }}</label>
      <input
        id="adress"
        placeholder="{{ proposal.placeholder }}"
        [matAutocomplete]="auto"
        [formControl]="formCtrl"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <ng-container>
          <mat-option
            *ngFor="let suggest of suggestionsResult"
            [value]="suggest"
          >
            <span>{{ suggest }}</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>

      <ng-container *ngIf="errorMsg; else elseTemplate">
        {{ errorMsg }}
      </ng-container>
      <ng-template #elseTemplate> </ng-template>
    </div>

    <label *ngIf="proposal.id == 'range'" for="{{ proposal.id }}">{{
      proposal.label
    }}</label>
    <input
      *ngIf="proposal.id == 'range'"
      type="text"
      class=""
      id="{{ proposal.id }}"
      placeholder="{{ proposal.placeholder }}"
      name="{{ proposal.id }}"
      required
      [(ngModel)]="inputState"
    />
    <button type="submit" class="bouton" *ngIf="proposal.aim != ''">
      Valider
    </button>
    <button type="submit" class="bouton" *ngIf="proposal.aim == ''">
      Rechercher
    </button>
  </form>
</div>
